.body {
    background-image: url("../images/money_theme2.webp");
    width: auto;
    height: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto
}